@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  margin: 6% auto 1% auto;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  margin: 2% auto;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

h4 {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-top: 3%;
}

p {
  margin: 2rem auto;
}

h1,
h3,
h4 {
  color: #25a2c3;
}
/*Stile header*/
header {
  background-color: black;
  margin: 0 auto;
  padding: 1%;
}
header img {
  width: 130px;
}
/*Stile main */
.top-container {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  height: 50vh;
  text-align: center;
  padding: 5%;
}

.button {
  background-color: #f04c2f;
  border-radius: 5px;
  color: white;
  padding: 1%;
  text-decoration: none;
  margin-top: 2%;
}

.mid-container {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
}

.text-container {
  text-align: center;
  display: inline-block;
  width: 50%;
}

.mid-container img {
  border-radius: 50%;
}

.red-container {
  background-color: #e22d0e;
  text-align: center;
  color: white;
  padding: 2%;
}

.small-text {
  font-size: smaller;
}

.bottom-container {
  width: 100%;
  text-align: center;
}

.tile {
  display: inline-block;
  width: 20%;
  height: 70%;
  margin: 3% 1%;
  border: 1px solid #dee1e3;
  border-radius: 3px;
}

.tile img {
  width: 100%;
  height: 28vh;
}

/* Stile footer */

footer {
  background-color: #25a2c3;
  color: white;
  padding: 1%;
  text-align: center;
}

.contatti :not(.copyright) {
  text-align: left;
  width: 13%;
  margin: 1% auto;
}

.copyright {
  font-size: small;
}
